html{
	font-size: 62.5%;
	}

*{
	padding: 0;
	margin: 0;
}

nav{
	margin-top:10px;
	ul {
		list-style: none;
		margin: auto;
		li{ 
			display: inline-block;
			margin-right: 40px;
			a{
			text-decoration: none;
			 }

		  }

		}		
}

body{
	background-color: $whiteT;
}


figcaption{
	color: $green;
}

.paginas p.parrafos{
	margin: 20px;
}

aside div h2{
	padding-top:10px;
	padding-bottom:30px;
}

aside{
	padding:20px 50px;
}

section div{
	border-bottom: solid 1px $lightGrey;
}

/*--------- Propiedades de Formularios ---------*/

form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:$softOrange;
}

form label{
	width:150px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
	width:180px;
	padding:3px 10px;
	border:1px solid $softGrey;
	border-radius:3px;
	background-color:$softGrey;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid $brown;
	border-radius:5px;
	display:block;
	color:$whiteT;
	background-color:$brown;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid $softGrey;
	border-radius:3px;
	background-color:$softGrey;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

.div_forms{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;

}    
  