.div_header{
	background-image:url(../images/header-lg.webp);
	opacity:0.9;
	width:100%;
}

.logo-iconosize{
	width:250px;
	}

// bg de Navbar y footer

.bg-softBordeau{
	background-color:$softBordeau;
}
