/* ----------- Media query 768px --------------*/

@media only screen and (max-width: 768px) {
  .div_involucrarse_contenedor{
  display: flex;
  flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	width: 80%;
	justify-content: space-evenly;
	margin:auto
	}

  .div_involucrarse{
	width: 65%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 45px;
	}

iframe{
 	width: 50%;
 }

 .carousel{
 	width: 90%;
 	margin: 50px auto;
 }

aside{
	margin-top:20px;
}

.contenedor{
  grid-template-columns: 2fr;
	grid-template-rows: repeat(7, auto);
  grid-template-areas: 
	"header header"
	"section section"
	"main main"
	"main main"
	"main main"
	"aside aside"
	"footer footer";
	}

 .div_50{
		width: 50%;
	}

.img_inv1{
  animation: slide-in3 4000ms;
  cursor: pointer;
}

.img_inv2{
  animation: slide-in2 3500ms;
  cursor: pointer;

  }

.img_inv3{
  animation: slide-in1 4000ms;
  cursor: pointer;

  }


 }

/* ----------- Media query 576px --------------*/

@media only screen and (max-width: 576px) {
  .contenedor{
  grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
  grid-template-areas: 
	"header"
	"section"
	"main"
	"main"
	"main"
	"aside"
	"footer";
	}

	.div_50{
		width: 100%;
	}


.div_contenedor{
	height:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 30px;
	justify-content: space-around;
	align-items: center;
	background-color: $whiteT;
	animation: bg 5s infinite;
	overflow:hidden;
}	

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:$softOrange;
}

}
