// Variables de Esquema de Colores

$petrol:#147989;
$medOrange:#rgba(235,183,71,1);
$softOrange:#f5BD47;
$turq:turquoise;
$lightYellow:#ffffe0;
$whiteT:#fff;
$softYellow:rgba(255, 249, 212, 1);
$brown:#bf874e;
$softGrey:#f6f6f6;
$softBordeau:#A64149;
$green:#02735E;
$bordeau:rgba(130,18,44,1);
$lightblue: lightblue;
$lightGrey:#e0ddd2;

//Tipos de Fuentes

$fontMain: 'Lato', sans-serif;
$fontSec: 'Merriweather', serif;
